{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="landing-container">

  <div class="white-box">
      <div class="burgundy-section">
        <p class="gazebo-text">GAZEBO</p>
          <p class= "slogan-text">Watch, Notify, Enroll</p>
          <img src="{% static 'bc_crest 1.png' %}" alt="BC Crest">
      </div>
      <div class="white-section">
        <h2 style="text-align: center;">Register</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
              <label for="id_email">{{ form.email.label_tag }}</label>
              {{ form.email }}
          </div>
          <div class="form-group">
            <label for="id_username">{{ form.username.label_tag }}</label>
            {{ form.username }}
          </div>
          <div class="form-group">
              <label for="id_eagle_id">Eagle ID: </label>
              {{ form.eagle_id }}
          </div>
          <div class="form-group">
              <label for="id_password1">{{ form.password1.label_tag }}</label>
              {{ form.password1 }}
          </div>
          <div class="form-group">
              <label for="id_password2">{{ form.password2.label_tag }}</label>
              {{ form.password2 }}
          </div>
          {% if form.school %}
              <div class="form-group">
                  <label for="id_school">{{ form.school.label_tag }}</label>
                  {{ form.school }}
              </div>
          {% endif %}
          {% if form.major %}
              <div class="form-group">
                  <label for="id_major">{{ form.major.label_tag }}</label>
                  {{ form.major }}
              </div>
          {% endif %}
          {% if form.minor %}
              <div class="form-group">
                  <label for="id_minor">{{ form.minor.label_tag }}</label>
                  {{ form.minor }}
              </div>
          {% endif %}
          {% if form.department %}
              <div class="form-group">
                  <label for="id_department">{{ form.department.label_tag }}</label>
                  {{ form.department }}
              </div>
          {% endif %}
          <button type="submit">Register</button>
      </form>      
      
      </div>
  </div>
</div>
{% endblock %}

{% block styles %}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        background: 
            linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), 
            url('{% static "bc_campus.jpeg" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .white-box {
      background-color: white;
      width: 900px;
      height: 500px;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      display: flex;
      border-radius: 30px;
    }
    .burgundy-section {
      background-color: #800000;
      color: white;
      width: 33.33%;
      height: 100%; 
      padding: 20px;
      flex: 1;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .white-section {
        padding: 20px;
        width: 66.67%;
        flex: 2;
    }
    .gazebo-text {
      font-size: 48px;
      font-weight: bold;
    }
    .slogan-text {
      font-size: 24px;
    }
    form p {
      margin-bottom: 20px;
    }
    form p label, form p input, form p select {
        color: black;
        display: block;
    }
    .form-group  {
      margin-bottom: 20px;
    }
</style>

{% endblock %}


