{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="landing-container">

  <div class="white-box">
      <div class="burgundy-section">
        <p class="gazebo-text">GAZEBO</p>
        <p class="slogan-text">Watch, Notify, Enroll</p>
        <img src="{% static 'bc_crest 1.png' %}" alt="BC Crest">
      </div>
      <div class="white-section">
        <h2 style="text-align: center;">Register</h2>

        <form method="post" action="{% url 'additional_info' %}">
          {% csrf_token %}
          
          <div class="form-group {% if form.eagle_id.errors %}has-error{% endif %}">
              <label for="id_eagle_id">Eagle ID: </label>
              {{ form.eagle_id }}
              {% for error in form.eagle_id.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
          </div>

          <div class="form-group {% if form.school.errors %}has-error{% endif %}">
              <label for="id_school">{{ form.school.label_tag }}</label>
              {{ form.school }}
              {% for error in form.school.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
          </div>

          <div class="form-group {% if form.major.errors %}has-error{% endif %}">
              <label for="id_major">{{ form.major.label_tag }}</label>
              {{ form.major }}
              {% for error in form.major.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
          </div>

          <div class="form-group {% if form.minor.errors %}has-error{% endif %}">
              <label for="id_minor">{{ form.minor.label_tag }}</label>
              {{ form.minor }}
              {% for error in form.minor.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
          </div>

          <button type="submit">Register</button>
        </form>
      </div>
  </div>
</div>
{% endblock %}

{% block styles %}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        background: 
            linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), 
            url('{% static "bc_campus.jpeg" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .white-box {
      background-color: white;
      width: 900px;
      height: 500px;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      display: flex;
      border-radius: 30px;
      overflow: scroll;
    }
    .burgundy-section {
      background-color: #800000;
      color: white;
      width: 33.33%;
      height: 100%; 
      padding: 20px;
      flex: 1;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .white-section {
        padding: 20px;
        width: 66.67%;
        flex: 2;
    }
    .gazebo-text {
      font-size: 48px;
      font-weight: bold;
    }
    .slogan-text {
      font-size: 24px;
    }
    form p {
      margin-bottom: 20px;
    }
    form p label, form p input, form p select {
        color: black;
        display: block;
    }
    .form-group  {
      margin-bottom: 20px;
    }
</style>

{% endblock %}


