{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0 20px;
    }
    .header {
        background-color: #800000;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; 
    }
    .header-logo {
        width: 50px;
        height: auto;
    }
    .left-content {
        display: flex;
        align-items: center;
    }

    .watchlist {
        padding: 10px;
        font-size: 16px;
        display: flex;
    }

    .right-content {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .course-container {
        /* Container styling */
    }
    
    .course-box {
        background-color: #EBEBEB;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    summary {
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        list-style: none;
    }
    
    summary::-webkit-details-marker {
        display: none; 
    }
    
    
    summary:before {
        content: '▼'; 
        float: right;
        font-size: 18px;
    }
    
    details[open] summary:before {
        content: '▲';
    }
    
    .course-content {
        padding: 10px 0;
        text-align: left;
    }
    
    .course-description {
        display: block; 
        font-weight: normal;
        margin: 5px 0; 
        font-size: 14px;
    }

    
    .status {
        padding: 5px 15px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
    }
    .open {
        background-color: #4CAF50;
    }
    .closed {
        background-color: #FF5252;
    }
    .logout {
        color: #fff;
        text-decoration: none;
    }
    .toast-container {
        display: none;
        position: fixed;
        bottom: 20px; 
        right: 20px; 
        z-index: 1000; 
    }
    
    .watchlist-toast {
        background-color: #800000; 
        color: white; 
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
        .dropdown-content a:hover {background-color: #f1f1f1;}
    
        .dropdown:hover .dropdown-content {display: block;}
    
        .dropbtn {
            background-color: transparent;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        cursor: pointer;
    }
    .tab-link {
        padding: 10px;
        text-decoration: none;
        color: black;
        display: inline-block;
        margin-right: 5px;
    }
    
    .tab-link:hover {
        background-color: #f0f0f0;
    }
    .tab-link.active {
       
        color: blue;
    }
    .forms-container {
        display: flex;
        justify-content: flex-end; 
        gap: 10px; 
    }
    .second-header {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    .course-section {
        margin-top: 10px;
        background-color: #f5f5f5;
    }
    
    .section-item {
        padding: 5px;
        border-bottom: 1px solid #ccc;
    }
    
    .section-item span {
        margin-right: 10px; 
        display: inline-block; 
    }
    .grid-header, .course-section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-align: center;
    }
    
    .grid-header {
        font-weight: bold;
        background-color: #e0e0e0;
        padding: 5px 0;
    }
    
    .course-section {
        background-color: #f0f0f0;
        padding: 5px 0;
        border-bottom: 1px solid #ccc;
    }
    
    
</style>

<div class="header">
    <div class="left-content">
        <img src="{% static 'bc_crest 1.png' %}" alt="BC Crest" class="header-logo">
        <h1> GAZEBO </h1>
    </div>
    <div class="right-content">
        <div class="dropdown">
            <button class="dropbtn">{{email}} &#9662; </button>
            <div class="dropdown-content">
                <a href="{% url 'logout' %}" class="logout">Logout</a>
        <!-- <input type="search" placeholder="Search"> -->
            </div>
        </div>
    </div>
</div>

<div id="toast-container" class="toast-container">
    <div id="watchlist-toast" class="watchlist-toast"></div>
</div>


<h3>Courses for Fall 2023:</h3>

<!-- <form action="" method="get">
    <input type="text" name="course_id" placeholder="Enter Course ID" value="{{ course_id }}">
    <button type="submit">Filter</button>
</form>
<button>Sort</button> -->

<div class="second-header">

    <div class="tabs">
        <a href="{% url 'list_courses' %}" class="tab-link {% if request.path == '/courses' %}active{% endif %}">Courses</a>
        <a href="{% url 'watchlist_view' %}" class="tab-link {% if request.path == '/list_courses' %}active{% endif %}">My Watchlist</a>
    </div>


    <div class="forms-container">
        <form method="GET" id="filterForm">
            <input type="text" name="course_code" placeholder="Course Code" value="{{ course_code|default_if_none:'' }}">
            <input type="hidden" name="sort_by" value="{{ sort_by }}">
            <button type="submit">Filter</button>
            </form>

        <form method="GET" id="sortForm">
            <label for="sort_by">Sort by:</label>
            <select id="sort_by" name="sort_by">
                <option value="name">Course Name</option>
                <option value="number">Course Code</option>
                <option value="instructor">Professor</option>
                <option value="days">Days</option>
            </select>
            <input type="hidden" name="course_code" value="{{ course_code }}">
            <button type="submit">Sort</button>
        </form>

        <a href="{% url 'list_courses' %}">Clear Filters/Sort</a>
    </div>
</div>

<div class="course-container">
    {% for course in page_obj %}
        <details class="course-box">
            <summary>
                <strong>{{ course.number }}: {{ course.name }}</strong>
                <span class="course-description">{{ course.description|safe }}</span>
            </summary>
            <div class="course-content">
                <div class="grid-header">
                    <span>Type</span>
                    <span>Days</span>
                    <span>Location</span>
                    <span>Professor</span>
                    <span>Open Seats</span>
                    <span>Watch</span>
                </div>
                <div class="course-section">
                    <span>{{ course.course_type }}</span>
                    <span>{{ course.days }}</span>
                    <span>{{ course.location }}</span>
                    <span>{{ course.instructor}}</span>
                    <span>{{ course.seats_available }}</span>
                    <span>
                        <form action="{% url 'toggle_watchlist' course.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="course_code" value="{{ course_code }}">
                            <input type="hidden" name="sort_by" value="{{ sort_by }}">
                            <input type="hidden" name="origin" value="course_list">
                            <button type="submit" class="watchlist-btn">
                                {% if course.id in watched_course_ids %}
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                {% endif %}
                            </button>
                        </form>
                    </span>
                </div>
            </div>
        </details>
    {% endfor %}
</div>




<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&course_code={{ course_code }}&sort_by={{ sort_by }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&course_code={{ course_code }}&sort_by={{ sort_by }}">Next</a>
        {% endif %}
    </span>
</div>
    


{% endblock %}
