{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static '/gazebo/css/styles.css' %}">

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            background: 
                linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), 
                url('{% static "bc_campus.jpeg" %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
            .landing-container h1, .landing-container h2 {
                color: white;
            }
            .white-box {
                background-color: white;
                width: 900px;
                height: 500px;
                margin: auto;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                display: flex;
                border-radius: 30px;
                text-align: center;
            }
            .burgundy-section {
                background-color: #800000;
                color: white;
                width: 33.33%;
                height: 100%; 
                padding: 20px;
                flex: 1;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .burgundy-section img {
                width: 150px;
                height: auto;
            }
            .white-section {
                padding: 20px;
                width: 66.67%;
                flex: 2;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .white-section h3, .white-section a {
                margin: 5px 0;
            }
            
            .gazebo-text {
                font-size: 48px;
                font-weight: bold;
            }
            .slogan-text{
                font-size: 24px;
            }       
            .button-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .custom-btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 5px 20px;
                width: 80px;
                height: 80px;
            } 
            .icon-container img {
                max-width: 50px; 
                height: 50px; 
                margin-bottom: 5px;
            }
            .button-wrapper {
                margin: 0 10px;
            }
            .square-button {
                width: 120px;
                height: 120px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            } 
            .admin-icon {
                width: 60px;
            }
            .sso-button {
                display: flex;
                align-items: center;
            }
            .sso-icon {
                width: 20px; 
                height: auto;
                margin-right: 8px;
            }
            .alert {
                padding: 15px;
                margin-bottom: 20px;
                border: 1px solid transparent;
                border-radius: 4px;
                }

            .alert-danger {
                color: #a94442;
                background-color: #f2dede;
                border-color: #ebccd1;
            }

            .alert p {
                margin: 0;
            }

            
                           

            
            
                         
    </style>

{% endblock %}

{% block content %}
<div class="landing-container">

    <div class="white-box">
        <div class="burgundy-section">
            <p class="gazebo-text">GAZEBO</p>
            <p class="slogan-text">Watch, Notify, Enroll</p>
            <img src="{% static 'bc_crest 1.png' %}" alt="BC Crest">
        </div>      
        <div class="white-section">
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
            <h3>First time here? Register:</h3>
            <div class="button-container">
                <div class="button-wrapper">
                    <a href="{% url 'login' %}" class="btn btn-secondary custom-btn square-button">
                        <div class="icon-container">
                            <img src="{% static 'student2.png' %}" alt="Student Icon">
                        </div>
                        Student
                    </a>
                </div>
                <div class="button-wrapper">
                    <a href="{% url 'admin_register' %}" class="btn btn-secondary custom-btn square-button">
                        <div class="icon-container">
                            <img src="{% static 'admin.png' %}" alt="Admin Icon" class="admin-icon">
                        </div>
                        Admin
                    </a>
                </div>
            </div>
            
            <h3>or</h3>
            <a href="{% url 'login' %}" class="btn btn-secondary sso-button">
                <img src="{% static 'key.png' %}" alt="Key Icon" class="sso-icon">
                Sign in with SSO
            </a>
        </div>
    </div>
    {% block inner_content %}
    {% endblock %}
</div>
{% endblock %}